body {
    background: lightgray;
    font-family: sans-serif;
}

body,
ul,
li {
    margin: 0;
}

header {
    background: rgb(154, 112, 7);
    color: white;
}

.banner {
    max-width: 100%;
    max-height: 50 px;
    background-color: brown;
}

nav ul.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul.menu li {
    padding: 1em;
    width: 100pxpx;
    text-align: center;
}

main {
    max-width: 80%;
    margin: 1em auto;
    background: white;
}

section {
    display: inline-block;
    max-width: 300px;
    max-height: 300 px;
}

section#about {
    border: 1px solid grey;
    padding: 1em;
}

section ul li{
max-width: 250px;
max-height: 200px;
}

button {
    background: midnightblue;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
}

#about button {
    font-size: 18px;
}